# PYSPARK

LIBRARIES

- from pyspark.sql import SparkSession
- from pyspark.sql.types import *
- from pyspark.sql import functions as func
- from pyspark.sql.functions import *
- from pyspark.sql.functions import sum
- from pyspark.sql.functions import expr
- from pyspark.sql import SparkSession
- from pyspark.sql import storagelevel
- import panda as pd

## RDD MANUPIPULATION

- numeros = sc.parallelize([1,2,3,4,5,6,7,8,9,10]) # Criando um RDD

BASIC OPERATIONS 

- numeros.take(5) # puxa os primeiros 5
- numeros.top(5) # primeiros 5
- numeros.collect() # Não aconselhavel, pode atrapalhar performance
- numeros.count() 
- numeros.mean()
- numeros.max()
- numeros.min()
- numeros.stdev() # Desvio padrão
- numeros.filter(lambda filtro: filtro>8) # filtrando
- amostra = numeros.sample(True,0.5,1) # Gerar amostrar, com ou sem reposição, probabilidade
- numeros.map(lambda mapa: mapa * 2) # aplica ação em todos os elementos do RDD
- numeros.union(numeros2) # Fez a união dos dois dados
- numeros.subtract(numeros2)  # o que tem no numeros, mas não tem no numeros
- compras.subtractByKey(debitos)
- numeros.cartesian(numeros2) # Pegar o cartersiano 

MÉTODOS
- compras.keys()
- compras.values()

## WORKING WITH DATA FRAMES

- spark.read.csv(filename,header=False,schema=schema, sep=";")
- spark.read.load(filename,header=False,format="csv",inferschema=True)
- df.schema
- display(df)
- df.show()
- despachantes.select("ID","Nome","vendas").where(Func.col("vendas") > 20).show()
- despachantes.select("ID","Nome","vendas").where((Func.col("vendas") > 20) & (Func.col("vendas") < 40)).show() # Filtering with where 
- & = AND, | = OR, ~ = Not
- novodf = despachantes.withColumnRenamed("nome", "nomes")
- despachantes2 = despachantes.withColumn("data2",to_timestamp(Func.col("data"),"yyyy-mm-dd"))
- despachantes2.select(year("data")).show() #consegue utilizar funcoes especificas de datas
- despachantes2.select(year("data")).distinct().show() #consegue utilizar funcoes especificas de datas
- despachantes2.select("nome",year("data")).dist
- despachantes2.select("nome", year("data")).orderBy("nome").show() 
- despachantes2.select("data").groupBy(year("data")).count().show() 
- despachantes.select(Func.sum("vendas")).show()
- despachantes.orderBy("Vendas").show()
- despachantes.orderBy(Func.col("Vendas").desc()).show() --> For using desc, it is mandatory use func.col functionality
- despachantes.orderBy(Func.col("cidade").desc(),Func.col("Vendas").desc()).show() -- order by desc for more than one column
- despachantes.groupBy("cidade").agg(sum("vendas")).show() -- Group by with sum IMPORTANTE MENTION THAT NEEDS TO USE AGG = AGREGATION
- despachantes.groupBy("cidade").agg(sum("vendas")).orderBy(Func.col("sum(vendas)").desc()).show() -- Group By + sum + order
- despachantes.filter(Func.col("nome") == "Deolinda Vilela").show()
- df = pd.read.csv(filanme,sep=";") Transforming DF do pandas para o pyspark
- spark = SparkSession.biolder.appName("Pandas").getOrCreate()
- df_spark = spark.createDataFrame(df_pandas)
- pandas = df_spark.toPandas()

## WORKING WITH DATABASES

- spark.sql("show databases").show()
- spark.sql("create database desp").show()
- spark.sql("use desp") # Set to database
- despachantes.write.saveAsTable("despachantes")
- spark.sql("select * from despachantes").show()
- despachantes.write.mode("overwrite").saveAsTable("Despachantes")
- despachantes = spark.sql("select * from Despachantes")
- spark.sql("show create table despachantes").show(truncate=False)  -> SEE se é uma tabela externa, aparece a opçao Location
- spark.catalog.listTables() -> based on the variable tableType = Managed or External is possible to identify whether is possible to manage this table or not
- despachantes.createOrReplaceTempView("vw_despachantes") - Temporary View, used only in this session
- spark.sql("CREATE OR REPLACE VIEW DESP_VIEW AS SELECT * FROM DESPACHANTES")
- despachantes.createOrReplaceGlobalTempView("Globa_temp.despachantes") -- Global view, could be used for everyone
- spark.sql("CREATE OR REPLACE GLOBAL TEMP VIEW Global_DESP_VIEW AS SELECT * FROM DESPACHANTES")
- df.join(df1,df.id == df1.id,"inner").select("idrec","datarec","iddesp")
- df.join(df1,df.id == df1.id,"left").select("idrec","datarec","iddesp")
- df.join(df1,df.id == df1.id,"right").select("idrec","datarec","iddesp")

## SPARK STREAMING

- df = spark.readstream.json("path", schema=vschema)
- stcal = df.writestream.format("console").outputmode("append").trigger(processingtime="5 seconds").option("checkpointlocation").diretorio().start()
- stcal.awaitTermination()

- Streaming wriring in a postgree
def atualizapostgree(dataf, batchId)

  dataf = spark.write.format("jdbc").option("url","jdbc:postgreesql://localhost?5432/vendas").option("dbtables","Vendas").option("user","postgress").option("password","123456").option("driver",örg.postgresql.Driver").mode ("append").save()

stcal.df.waitStream.foreachBatch(atualizapostgree).outpumode("append").trigger(processingtime="5 seconds").option("checkpointlocation").diretorio().start()

## OPTIMIZATION

- df.write.partitionBy("Column1").saveAsTable("Tabela1")
- df.write.bucketBy(100,"Column2").saveAsTable("Tabela2") # [nr of buckets, column]
- from pyspark.sql import storagelevel
- df.storageLevel #(DISCO, MEMÓRIA, OFFHEAP, SERIALIZADO, REPLICAÇÃO)
- df.cache()
- df.persist(storageLevel.DISK_ONLY) # tipo de chache, escolher
- df.unpersist() # removendo storage level

## KOALAS

- import databricks.koalas as pd

# Python

## Touples | List | Dic
- list = [1,2,3,4,5,6,7]
- list[:3]
- list.append(2) # Add new line
- list.insert(0,2) # Altera determinado item
- list.count(2) #Retorna a quantidade de itens com respectivo valor
- list("ABCD") == ['A', 'B', 'C', 'D']
- del(list[1])
- touples = (1,2,3,4,5,6,7)
- touples[0]
- dict = {'1': 'Teste Dados', '2': 2}
- dict ['1']
- dict['1'] = 'Teste dados2'
- del(dict[1])
- len(dic)
- dict.keys()
- dict.values()
- dict.clear()

## For | Lambda | Funções

- for n in [list | touples | dict]:
- for n in range(5,10,2):
- for item in dict:
- for item, value in dict.items():
- string.split(',')
- del.mutiple(entrada):
-- var_global = entrada * 3
-- return var_global = 0
- x2 = lambda x,y : x+y
-- x2(2,4)

## Files

- f = open(filename, 'r'|'w')
-- data = f.read()
-- rows = data.split('\n')

# Pandas

## File Manipulation 

- file = pd.read.csv(filename, sep=',')
- df = pd.dataframe(file

## Generic Functions

- df.shape
- df.reshape((2,12)) # Numero de Colunas X Linhas deve ser o mesmo
- df.dtypes
- df.head()
- df.tail()
- df.describe()
- df.index
- df.columns
- df.values
- df.to_numpy() # esquecer linhas e colunas

## Data Frame Manipuation | Reshaping

- df[0]
- df[-1]
- df[:2]
- df.loc[:5,["ColumnA", "ColumnB"]]
- df.loc[índex1:index2,["ColumnA", "ColumnB"]]
- df.iloc[1] #vem em formato stack
- df.iloc[2:4, 0:2] # Linha por Coluna
- df.iloc[[1,5,6],[0,3] # Seleciona as linhas especificadas


# Manipulando Colunas | DF

- df['Reais'] = 0 # Criando e/ou alterando valor de uma coluna
- df['Reais'].str.replace('$','')
- df['Reais'].str.astype(float)
- df[['column1','column2']]
- df['column1'].unique
- df.drop(index, axis = 0)
- indexNames = df[ df['Stock'] == 'No' ] # Get names of indexes for which column Stock has value No,
- -df.drop(indexNames , inplace=True) #.index Delete these row indexes from dataFrame
- df.dropna(how = 'all') #Apaga linha inteira que esteja vazia
- df.dropna(how = 'all', axis = 1) #Apaga as colunas que tem registro nulo 
- df.dropna() #Apaga a linha que tem ao menos um registro nulo
- df.drop_duplicates(subset="Id")
- datas = pd.date_range('20210101',periods = 6) # periods default diaria, resultado 2021-01-01, 2021-01-02, 2021-01-03, 2021-01-04, 2021-01-05, 2021-01-06
- datas = pd.date_range('20210101',periods = 6, freq='M')
- df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = list("ABCD"))
# Filtros 

- df_filtered = df.loc['Departament' == 'procurement']
- df.loc[df['Department'] == 'PROCUREMENT', ['Name', 'Employee Annual Salary']]
- df[df.A > 0]
- df[df > 0] #só traz os valores positivos
-df[df.col_name.str.startswith('abc').fillna(False)]

## Pivot | PivotTable | Stack | Melt | Transporder

Pivot
- df.pivot(index='Dia',columns='Pessoa',values='Gastos')

PivotTable (index is not unique)

- pd.pivot_table(df, index='Data',columns='Vendedor',values='Vendas')
- pd.pivot_table(df, index='Data',columns='Vendedor',values='Vendas', aggfunc='sum')

Stack

- stack_df = df.stack() #torna pilha
- unstack_df = stack_df.unstack()

Melt

- pd.melt(df, id_vars=['A'], value_vars=['B'])
- pd.melt(df, id_vars=['A'], value_vars=['B','C'], var_name='VarTeste', value_na,e= 'NomedoValor')

Transporder

- df.T # Transposta, inverte linha por coluna

## Data Frame Functions

- df[['column1','column2']].sort_values('column2',ascending= False)
- series = pd.Series([7, 4, 2, np.nan, 6, 9]) # np.nan - numpy lab quando não é possivel identificar algum tipo de dado | series é temporal
- np.random.randn(6,4) # Gera numero randomico de 6 linhas 4 colunas respeitando variacao de 0 a 1
- frame = [df_1,df_2,df_3]
-- framescombinados = pd.concat(frame) 
- grupo = pd.concat([df_1,df_2,df_3], keys=['f1','f2','f3'])
-- grupo.loc['f2']
- app1 = df_1.append(df_2).append(df_3)

### Group by 
- df.groupby(['A']).sum()
- df.groupby(['A', 'B']).sum()
- df.groupby(['A']).mean()
- df[['column1','column2']].groupby('column2').sum

### MERGE 

INNER
- pd.merge(table_esquerda, tbl_direita, on= "coluna_coincidente",how="left|right|inner|outer")
- pd.merge(cadastro_a, cadastro_b[['Id', 'Idade', 'CEP']], on = ["Id"], how="inner", suffixes=('_A','_B'))

FULL
- fulljoin = pd.concat([cadastro_a, cadastro_b], ignore_index=True)
- fulljoin.drop_duplicates(subset="Id") 


OUTER (n)
- pd.merge(cadastro_a, cadastro_b[['Id', 'Idade', 'CEP']], on = ["Id"], how="outer", suffixes=('_A','_B'), indicator = True)

## Index

-- Pandas.MultiIndex
- Levels: Sequence of arrays.
-- The unique lables for each level
- Codes: sequence of arrays.
-- Integers for each level designating which label at each location
- lables: sequence of arrays
-- Integers for each level designating which label at each location

- df[0]
- df[-1]
- df[:2]

- pd.MultiIndex.from_arrays(arrays, names=('number', 'color'))
- pd.MultiIndex.from_product([numbers, colors], names=['number', 'color'])

# NUMPY

In [0]:
import numpy as np

In [0]:
- np.random.randn(8)
- np.size(df.values)
- np.random.choice(Lista)
- np.round(float,2)
-

Out[12]: array([-0.04386612,  1.18549393,  0.77710969,  0.89557391,  1.22138275,
        0.54214681, -0.65052194, -0.30737109])

# SQL

## CTE | Queries

WITH
    cteReports (EmpID, FirstName, LastName, MgrID, EmpLevel)
      AS
    (
      SELECT EmployeeID, FirstName, LastName, ManagerID, 1
      FROM Employees
      WHERE ManagerID IS NULL
      UNION ALL
      SELECT e.EmployeeID, e.FirstName, e.LastName, e.ManagerID, 
        r.EmpLevel + 1
      FROM Employees e
        INNER JOIN cteReports r
          ON e.ManagerID = r.EmpID
      )
      SELECT
      FirstName + ' ' + LastName AS FullName, 
      EmpLevel,
      (SELECT FirstName + ' ' + LastName FROM Employees 
      WHERE EmployeeID = cteReports.MgrID) AS Manager
      FROM cteReports 
      ORDER BY EmpLevel, MgrID

## Funções de Classificação :: ROW | RANK | DENSE RANK

- RANK - Agrupa e ID de forma não sequencial 1, 1, 3, 3, 4
      select rank() over (order by estado asc) as rank_uf, regiao, estado from regiao ::  SP 1, AC 2, RJ 3
      select rank() over (order by regiao asc) as rank_uf, regiao, estado from regiao :: Resultado Centro Oeste 1 Centro Oeste 1 SP 3
    
- DENSE_RANK - Agrupa e ID de forma sequencial 1, 2, 3, 4
      select dense_rank() over (order by estado asc) as rank_uf, regiao, estado from regiao :: 
      select dense_rank() over (order by regiao asc) as rank_uf, regiao, estado from regiao :: Resultado Centro Oeste 1 Centro Oeste 1 SP 2

- ROW_Number - Conta sequencial
      select row_number() over (order by estado asc) as rank_uf, regiao, estado from regiao ::  SP 1, AC 2, RJ 3
      select row_number() over (order by regiao asc) as rank_uf, regiao, estado from regiao :: Resultado Centro Oeste 1 Centro Oeste 1 SP 2


- ntitle
      select ntitle(3) over (order by regiao asc) as rank_uf, regiao, estado from regiao :: Dividi em blocos o que foi parametrizado

## Queries e operações lógicas

- LIKE
      select * from table where colunas like '[CS]he%'
      select * from table where colunas like 'he[CS]%'

- SubQueries (Exists | IN)

      select * from table a Where exists (select * from table b where a.id = b.id)
              
      select * from table a Where a.id in (select b.id from table b)
  
      select a, b, c, (select avg(columna) from table B where a.id = b.idav) from table a 

- Update | Delete com com subselect
      update table a set columna = (select count(*) as columna from table b)
      delete table A where A.ID in (select B.ID from table B)

- Alter Table
      alter table tableA add|dropp column A (for add should inform the type)
      
- Choose 
      select choose(mes, 'winter', 'winter', 'spring', 'spring', 'spring', 'spring', 'summer', 'summer', 'summer', 'summer')

- IIF 
      select IIF(A > B, 'Maior', 'Menor')

- IF
      if 1 = 1 begin print "Teste" end else "Teste2"
      
- While
      While @var <= 10 begin set @var += 1 if @var = 5 break else continue end
      
- nullif | isnull
      isnull(val1/nullif(val2,0),0)

- coalesce :: Retorna o primeiro valor não nulo
      colalesce(null, null, 'TerceiraColuna)

- Output modes (Insert | Deleted)
      update tablea set columna = (CASE WHEN columna >= 10 then 1 else 0 end)
      output deleted.columna, 
      deleted.columna as antes,
      inserted.columna as depois 
      Where idn=0
      
- CTE
      WITH cteReports (EmpID, FirstName, LastName, MgrID, EmpLevel)
      AS (
      SELECT EmployeeID, FirstName, LastName, ManagerID, 1
      FROM Employees WHERE ManagerID IS NULL
      )
      SELECT
      FirstName + ' ' + LastName AS FullName, 
      EmpLevel, (SELECT FirstName + ' ' + LastName FROM Employees WHERE EmployeeID = cteReports.MgrID) AS Manager
      FROM cteReports 
      ORDER BY EmpLevel, MgrID
      
- Begin Try (Trativa de erros)
      Begin try 1/0 end try
      Begin catch select 
        error_number(),
        error_severety(),
        error_state(),
        error_procedure(),
        error_line(),
        error_message()
      end catch
      
- Cursor
      declare meu_cursor
      cursor local for select columna from tablea
      open meu_cursor
        fecth next from meu_cursor into @variavel
        while (@@FETCH_STATUS = 0)
          begin
            print @variavel
            fetch next from meu_cursos into @variavel
          end
        close meu_cursor
        deallocate meu_cursor
        
        
- Cursor (Comandos para navegar dentro do cursor)

      - FETCH ABSOLUTE 1 FROM CURSOR; :: Go directly to the line
      - FETCH NEXT FROM CURSOR;
      - FETCH LAST FROM CURSOR;
      - FETCH PRIOR FROM CURSOR;
      - FETCH RELATIVE 3 FROM CURSOR; :: AVANÇA TRÊS POSIÇÕES
      
      
- Trigger
      create trigger trg1
      on Salario
        after update
      as 
      begin
      -- code
      end

- COLLATE
      create table (pessoa) (
        ID_PESSOA INTEGER,
        NOME VARCHAR(100) COLLATE WIN_PTBR)

- INDENTITY
      SET IDENTITY_INSERT TABLEA ON INSERT INTO TABLEA ........
      SET IDENTITY_INSERT TABLEA OFF

## Conversões | Funções Chart
- CAST | TRY_CAST
      select CAST(column as decimal(5,2))
      select TRY_CAST(column as decimal(5,2))

- CONVERT | TRY_CONVERT
      select convert(decimal(5,2), column)
      select TRY_CONVERT(decimal(5,2), colunnb)
    
- PARSE | TRY_PARSE
      select TRY_PARSE('Monday, 13 December 2010' as datetime USING 'en-US') :: 2010/12/13
      select TRY_PARSE('Segunda-feira, 13 Dezembro 2010' as datetime USING 'pt-BR') :: 13/12/2010
      select TRY_PARSE('R$10,00' as money USING 'pt-BR') :: 10.00
      select TRY_PARSE('$10.00' as money USING 'en-US') :: 10.00
      set language 'English'; select TRY_PARSE('12/20/2020' as datetime) 
      set language 'Português'; select TRY_PARSE('2020/12/10' as datetime)

- set dateformat dmy (DD-MM-YYYY)

# CHAR

- LTRIM :: Remove espaçoes à esquerda
        select ltrim(@string)
        
- RTRIM :: Remove espaçoes à direita
        select rtrim(@string)
        
- STR  :: Retorna char convertidos de dados numericos
        select str(@number, 5, 2)
        
- CONCAT :: Concantena
        select CONCAT(@string, @string2)
        
- CONCAT_WS :: Separa e retorna valores de cadeia de caracteres concatenados com delimitador
        select CONCAT_WS('|',@string, @string2)
    
- Replace :: Substitui
        select replace(@string, 'a', 'b')

- LEFT :: Retorna parte esquerda de um char

        select left(@string,5)
- RIGHT :: Retorna parte esquerda de um char

        select right(@string,5)
- ISNULL :: Trata quand for branco

        select isnull(columna, '')
        
# DATE

- Datename(month, a.nascimento) :: Retorna o numero do mes
- Datediff(day, date1, date2)
- DateAFF(Month, 2, getdate())
- convert(varchar(10),getdate(),120|103|100|1)

##CONCEITOS BASICOS

# Star Schema | SnowFlake
No modelo Star, todas as tabelas de dimensões necessárias têm apenas chaves estrangeiras nas tabelas de fatos. O modelo Snowflake possui mais junções entre a tabela de dimensões e a tabela de fatos, portanto

# Indices
      - Clusterizados: é montado na própria tabela, criando a estrutura ordenada de árvore para facilitar as buscas. Por este motuvo, apenas 1 indice desse tipo pode ser criado por tabela e não pode utilizar INCLUDE de colunas neste tipo de indice.
      - Índice NonClustered: é uma estrutura ORDENADA à parte que contém apenas. pode-se ter mais de um, e importante que o indice clustered automaticamente também esta disponivel para o indice cluster.
      - Lookup: Quando o usuário pede uma informação que não esta no indice cluster e no indice nocluster, e com isso ele baseado no indice cluster ele tem que fazer um LOOKUP para pegar os registros faltantes
      - SEEK: Quando na consulta do indice NoCluster estão todos os dados disponiveis (NoCluster + Cluster)
      - SCAN: Lê a tabela toda
      - HEAP: Tabelas sem indices
      
# Collate
      - Tratar case sensentive | ascentos
      - 

# Tipo de Dados
- Char: tamanho fixo máximo de 8k char
- varcha(n): tamanho variavel máximo 8k char
- varchar(max): tamanho máximo de 1073741824 char
- text: variável máximo 2gigas de texto
- nChar: tamanho fixo máximo de 8k char UNICODE permitir maior flexibilidade nos dados pra aceitar char especiais como mandarim, japones e etc
- nvarcha(n): tamanho variavel máximo 8k char UNICODE
- nvarchar(max): tamanho máximo de 1073741824 char UNICODE
- ntext: variável máximo 2gigas de texto UNICODE
- Image
- Date
- DateTime
- time
- bit (0, 1 or null)
- decimal
- int
- money
- numeric

# Constraints
- not null
- unique - Garante que os valores em uma coluna sejam diferentes
- primary key
- foreign key
- default - define um valor padrão para uma coluna quando nenhum valor é especificado
- index 
- check - Valida valor que inserido em uma coluna, como uma restrição. Estoque por exemplo, reestringir < 0 | ou data de nascimento no futuro por exemplos

# Union and Union ALL
- Union resultado com distict junta as tabelas com a mesma estrutura de colunas e tipo de dados
- Uniona ll resultado com distict junta as tabelas com a mesma estrutura de colunas e tipo de dados

# Tabelas temporárias
- Temp Table locais #
- Temp Table globais ## (conexões ativas)

# Funções
- Funções em T-SQL são rotinars que retornam valores ou tabelas
      - Escalares: Definidas pelo usuário retornam um valor único de dados do tipo definido na cláusula return;
      - Tabela: Retorna um tipo de dado table
      - Em linha (In-Line): Muito utilizadas para parametrizar viewws. 
      
# Triggers
      - FOR: Junto com a ação
      - AFTER: Após a ação
      - INSTEAD OF: Rodar invés
      
# 3FN

      - Elimina atributos não chaves que dependem de outros atributos não chaves, por exemplo: NF, Cod_Vendedor, Nome_Vendedor. 
      Para aplicar a terceira forma normal, transformar o Cod_Vendedor como FK
  
# Orientada objeto
Classe: De outra forma, uma classe pode ser definida como uma descrição das propriedades ou estados possíveis de um conjunto de objetos, bem como os comportamentos ou ações aplicáveis a estes mesmos objetos.
Heranca: Herança é um princípio de orientação a objetos, que permite que classes compartilhem atributos e métodos, através de "heranças". Ela é usada na intenção de reaproveitar código ou comportamento generalizado ou especializar operações ou atributos. O conceito de herança de várias classes é conhecido como herança múltipla. Como exemplo pode-se observar as classes 'aluno' e 'professor', onde ambas possuem atributos como nome, endereço e telefone.

# Career

Graduaçõa
MBA
	Tempo de experiencia
Inicio (GeneXus rodando no banco de dados SQL e DB2)
- Nessa função tive oportunidade de trabalhar em duas consultorias como outsourcing e em uma agencia de turismo

Em 2012 recebi uma oferta da Nestlé para trabalhar como desenvolvedor GeneXus e PL/SQL. 
- Atender a area de sistemas legados Marketing & Sales e Customer Services
- Alguns dos sistemas eram in-house e outros a gente fazia a ponte entre fornecedor e cliente
- Contato mais de perto com o banco de dados, desenvolvimento
- In this position I also have different roles like work as project manager, I supported the SAP team in HANA SAP Migration.. so it was a time where I could leverage in general my knowledge and consequently my skills

Em 2018
- História do stream de bigdata
- Virou a chavinha pra trabalhar com o Cloud
- Contar sobre os projetos
    - Sell in X Sell out
        - Scope: integrated how much the customers were selling and cross how much we are selling
        - Responsabilidades e tecnologias
        - Data Lake
        - Processo de ETL com Data Factory, Databricks, spark, pyspark, DW, PowerBi
    - Cockpit Magento
    - Comparação entre acordos comerciais X execução 

Em 2021 - Exceedra
- Reestruturação 
- Entender a necessidade do cliente , fazer treinamentos básicos de PowerBi, explicar os dados e origem dos dados
- Criação de queries para fazer o calculo da loja perfeita